{% load static %}
   
<!--<link rel="stylesheet" href="{% static 'mood/style.css' %}"> -->
 <!-- Favicons -->
 <link
 type="image/x-icon"
 href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
 rel="icon"
/>

<!-- Bootstrap CSS -->
<link
 rel="stylesheet"
 href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
/>

<!-- Fontawesome CSS -->
<link
 rel="stylesheet"
 href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
/>
<link
 rel="stylesheet"
 href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
/>
<center>
<!-- Main CSS -->
<link
 rel="stylesheet"
 href="{% static 'HealthStack-System/css/Normal/style.css' %}"
/>
<div class="intro">
    <div class="hello">
        <h1>Hello {{ user.username}}</h1>
    </div>
    <div class="sometext">
        <h2>How are you feeling?</h2>
    </div>

    <div class="form-class">


        <form action="" method="post">
            {% csrf_token %}
            <div>
                <input type="text" placeholder = "enter how you are feeling"  name = "mood" required>
            </div>

       
            <button>Submit</button>
        </form>
    </div>
</div>
</center>