{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- doccure/login.html  30 Nov 2019 04:12:20 GMT -->
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link
      type="image/x-icon"
      href="{% static 'HealthStack-System/images/Normal/favicon.png' %}"
      rel="icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}"
    />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}"
    />

    <!-- Main CSS -->
    <link
      rel="stylesheet"
      href="{% static 'HealthStack-System/css/Normal/style.css' %}"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style></style>
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row" style="font-size: 14px">
            <div class="col-md-7 col-lg-8">
              <div class="invoice-content">
                <div class="invoice-item">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="invoice-logo">
                        <img
                          style="float: left; width: 220px"
                          src="static/HealthStack-System/images/Normal/FullLogo_Transparent_NoBuffer.png"
                          alt="logo"
                        />
                      </div>
                    </div>
                    <div class="col-md-6" style="float: right; width: 50%">
                      <p class="invoice-details">
                        <strong>Appointment ID:</strong
                        >{{appointment_info.appointment_notes_id}}
                        <br />
                        <strong>Patient ID:</strong> {{patient.user}} <br />
                        <strong>Doctor ID:</strong> {{doctor.doctor_id}} <br />
                        <strong>Doctor Name:</strong> {{doctor.name}} <br />
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Invoice Item -->
                <div class="invoice-item">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="invoice-info">
                        <h1>
                          <strong class="customer-text"
                            >Appointment Information:</strong
                          >
                        </h1>
                        <p class="invoice-details invoice-details-two">
                          <strong>Notes:</strong> {{appointment_info.notes}}
                          <br />
                          <strong>Next Appointment Date:</strong>
                          {{appointment_info.next_appointment}} <br />
                          <strong>Diagnoses:</strong>
                          {{appointment_info.diagnoses}} <br />
                          <strong>Appointment Date:</strong> {{app.date}} <br />
                          <strong>Appointment Time:</strong> {{app.time}} <br />
                          <strong>Appointment Type:</strong>
                          {{app.appointment_type}} <br />
                          <strong>Message from Staff:</strong> {{app.message}}
                          <br />
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Invoice Item -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'HealthStack-System/js/Normal/popper.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

    <!-- Sticky Sidebar JS -->
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/ResizeSensor.js' %}"></script>
    <script src="{% static 'HealthStack-System/plugins/Normal/theia-sticky-sidebar/theia-sticky-sidebar.js' %}"></script>

    <!-- Custom JS -->
    <script src="{% static 'HealthStack-System/Outside_assets/js/script.js' %}"></script>

    <!-- Searchbar JS -->
    <script src="{% static 'HealthStack-System/js/Normal/sidebar.js' %}"></script>
  </body>

  <!-- doccure/patient-dashboard.html  30 Nov 2019 04:12:16 GMT -->
</html>
